<div class="card mx-auto text-center bg-light" style="width: 40rem;">
    <h1 style="font-size: 70px;
  background: -webkit-linear-gradient( #F37335, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"><b>{{title}}</b></h1>
    <h1 style="font-size: 35px;
  "><b>Details </b></h1\>
        <h1 style="font-size: 15px;
  "><b> Genre:</b> {{genre}} </h1\>
            <h1 style="font-size: 15px;
  "><b> Release Date:</b> {{release_date}} </h1\>
                <h1 style="font-size: 15px;
  "><b> Total songs:</b> {{no_of_songs}} </h1\>
                    <h1 style="font-size: 15px;
  "><b> Artist ID:</b> <a href="artist/{{this.artist_id}}">{{artist_id}}</a></h1\>
                        <br>
</div>