{{!-- FIX Error: Navbar icon disappearsa --}}

<div class="text-center">
    {{!-- <h1 style="font-size: 60px;
  background: -webkit-linear-gradient( #F37335, #ffbb01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"><b>Welcome back, {{name}}!</b></h1> --}}
    <h1 style="font-size: 35px;
  "><b> Your songs in {{pname}} </b></h1\>
        <br><br><br>
        <table class="table table-dark table-striped" style="font-size: 20px;">
            <thead>
                <tr>
                    <th scope="col">Song ID</th>
                    <th scope="col">Song Name</th>
                    <th scope="col">Duration (in minutes)</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Album ID</th>
                    <th scope="col">Artist ID</th>
                </tr>
            </thead>
            <tbody>
                {{#each songs}}
                <tr>
                    <th scope="row">{{this.song_id}}</th>
                    <th scope="row">{{this.title}}</th>
                    <th scope="row">{{this.duration_minutes}}</th>
                    <th scope="row">{{this.genre}}</th>
                    <td><a href="album/{{this.album_id}}">{{this.album_id}}</a></td>
                    <td><a href="artist/{{this.artist_id}}">{{this.artist_id}}</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</div>